<% if @palettes.present? %>
  <div class="row">
  <table class="table">
    <tr>
      <th>Palette name</th>
      <th>Swatches</th>
      <th>Actions</th>
    </tr>
    <% @palettes.order("updated_at DESC").each do |palette| %>
    <tr>
      <td><%= link_to palette.name.capitalize, palette_path(palette) %></td>
      <td>
        <% palette.colors.each do |color| %>
          <%= link_to color_path(color) do %>
            <div id="swatch-color-div" style="background-color: <%= color.hex_code %>;"></div>
          <% end %>
        <% end %>
      </td>
      <td><%= render 'palette_actions', palette: palette %></td>
    </tr>
    <% end %>
  </table>
</div>
  <div class="row">
    <%= will_paginate @palettes, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <h1>No search results found :(</h1>
<% end %>
