<% if @palettes.present? %>
  <div class="row">
    <% @palettes.order("updated_at DESC").each do |palette| %>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <%= link_to palette_path(palette) do %>
            <% palette.colors.each do |color| %>
              <div style="background-color: <%= color.hex_code %>; height: 50px;"></div>
            <% end %>
          <% end %>
          <div class="caption">
            <strong><%= link_to palette.name.capitalize, palette_path(palette) %></strong>
            <%= render 'palette_actions', palette: palette %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= will_paginate @palettes, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <h1>No search result found :(</h1>
<% end %>
