<h1 align="center">Colors</h1>
<% if user_signed_in? %>
  <%= link_to "Add new color", new_color_path, class: "btn btn-md btn-primary" %><br><br>
<% end %>
<div class="row">
<% @colors.order("updated_at DESC").each do |color| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= link_to color_path(color) do %>
        <div style="background-color: <%= color.hex_code %>; height: 150px"></div>
      <% end %>
      <div class="caption">
        <strong><%= color.name.capitalize %></strong>
        <p>[ <%= link_to color.hex_code, color_path(color) %> ]</p>
        <%= render 'color_actions', color: color %>
      </div>
    </div>
  </div>
<% end %>
</div>